MONGODB_URI=mongodb+srv://sanikadalviwork_db_user:HwpK1zGXgCMDlMDH@clustersannu.xb6pfgj.mongodb.net/lume-beauty
JWT_SECRET=lume_super_secret_key_change_this_in_production
PORT=5000
FRONTEND_URL=http://localhost:5173
